@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    App-Zone Management System<br />
    University Road, KHI 9805-6399a<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@appzone.com">Support@appzone.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@appzone.com">Marketing@appzone.com</a>
    <a ></a>
</address>
